.kmno4 { color: orangered; 
        text-align: center;
        font-weight: bold;
       font-size: 300% ; 
        text-transform: uppercase;}
.h2so4 {
  font-size: 125%;
  margin: 40px 20px 40px 20px; 
}
